src/scripts/logs
src/notebooks/images
src/notebooks/logs
graphics
data
results
*.pyc
*.ipynb_checkpoints*
*.h5
*__pycache__*
.*
!/.gitignore
*.local.ipynb
clusterit/venv
rteEnviroment
\#*
report/rte18_aristas_report_matt.aux
report/rte18_aristas_report_matt.bbl
report/rte18_aristas_report_matt.blg
report/rte18_aristas_report_matt.log
report/rte18_aristas_report_matt.toc
*.aux
*.bbl
*.blg
*.log
*.toc
*.tex.backup
paper/merged
